{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <div class="columns">
            <div class="column">
                <p>{{ 'error.not_found'|trans }}</p>
            </div>
        </div>
    </div>

{% endblock %}
