{% extends 'base.html.twig' %}

{% block content %}

    <div class="grid-row">
        <div class="grid-100">
            <p><strong>{{ status_code }} {{ status_text }}</strong></p>
            <p>{{ exception.message }} {{ exception.code ? '(%s)'|format(exception.code) }}</p>
        </div>
    </div>

{% endblock %}
