{% extends 'base.html.twig' %}

{% block content %}

    <div class="columns">
        <div class="column">
            <p>The requested page could not be found.</p>
        </div>
    </div>

{% endblock %}
