{% extends 'base.html.twig' %}

{% block content %}

    <div class="grid-row">
        <div class="grid-100">
            <p>{{ 'error.not_found'|trans }}</p>
        </div>
    </div>

{% endblock %}
