@import "../etraxis.less";

body {
    background-color: #000;
    color: #e8e8e8;
}

input.ui-widget-content,
textarea.ui-widget-content,
select.ui-widget-content {
    background: #fff !important;
    color: #333;
}

nav {
    a, span {
        color: #e8e8e8;
    }

    a:hover {
        color: #fbfbfb;
    }
}

footer a {
    color: #00638f;
}

a {
    color: #26b3f7;
}

p a {
    color: #26b3f7 !important;
}

::-webkit-input-placeholder {
    color: #ff6247;
}

::-moz-placeholder {
    color: #ff6247;
}

:-moz-placeholder {
    color: #ff6247;
}

:-ms-input-placeholder {
    color: #ff6247;
}

/* Input controls */

.fieldset {

    .legend {
        background-color: #000;
    }

    &.private {
        border-color: #ff6247;

        .legend {
            color: #ff6247;
        }
    }
}

/* DataTables */

table.dataTable {

    tbody, tfoot {
        tr {
            background-color: #000;
        }
    }

    tbody tr {
        &.red {
            color: #ff6247;
        }

        &.blue {
            color: #00638f;
        }

        &.gray {
            color: gray;
        }
    }

    &.row-border {
        tbody, tfoot {
            tr td {
                border-top: none;
                border-bottom: 1px solid #333;
            }
        }
    }

    &.cell-border {
        tbody, tfoot {
            tr td {
                border-top: none;
                border-bottom: 1px solid #333;
                border-left: 1px solid #333;
                border-right: none;

                &:first-child {
                    border-left: 1px solid #333;
                }

                &:last-child {
                    border-right: 1px solid #333;
                }
            }
        }
    }

    &.hover {
        tbody tr:hover,
        tbody tr.odd:hover,
        tbody tr.even:hover {
            background-color: #222;
        }
    }
}

.dataTables_wrapper {

    .dataTables_length,
    .dataTables_filter,
    .dataTables_info,
    .dataTables_processing,
    .dataTables_paginate {
        color: #fbfbfb;

        input, select {
            color: #404040;
        }
    }

    .dataTables_paginate .fg-button {
        border-color: #444;
        color: #eeeeee !important;
    }
}

/* Panels */

.panel .panel-body a:hover {
    background-color: #222;
}

/* Panels */

.panel {

    .panel-body {

        a.highlighted {
            color: #ff6247;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #444444;
        }
    }
}
