{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="grid-row">
        <div class="grid-100">
            <div class="tabs" id="tabs-project" data-tab="{{ tab }}">
                <ul>
                    <li><a href="{{ path('admin_tab_project_details', {'id': project.id}) }}">{{ project.name }}</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
