{% macro row(label, value, mode) %}
    <div class="grid-parent grid-row clearfix">
        <div class="grid-25 label">
            {{ label ~ ':' }}
        </div>
        <div class="grid-75 value">
            {{ value is null ? '&mdash;' : value | bbcode(mode|default('strip')) | nl2br }}
        </div>
    </div>
{% endmacro %}
