{% macro row(label, value) %}
    <div class="columns">
        <div class="column one-fourth"><p class="caption">{{ label }}:</p></div>
        <div class="column three-fourths"><p>{{ value }}</p></div>
    </div>
{% endmacro %}
