parameters:

    database_driver:        pdo_mysql
    database_host:          127.0.0.1
    database_port:          ~
    database_name:          etraxis
    database_user:          root
    database_password:      ~
    database_charset:       UTF8

    mailer_transport:       smtp
    mailer_host:            127.0.0.1
    mailer_port:            false
    mailer_encryption:      ~
    mailer_user:            ~
    mailer_password:        ~
    delivery_addresses:     ~

    mailfrom_address:       noreply@example.com
    mailfrom_name:          "eTraxis"

    ldap_host:              ~
    ldap_port:              ~
    ldap_user:              ~
    ldap_password:          ~
    ldap_tls:               false
    ldap_basedn:            DC=example,DC=com

    locale:                 en_US
    theme:                  azure

    secret:                 8fb375ea50e0f6230ad0cc722be8293a7177f9e4

    password_min_length:    6
    password_expiration:    ~

    security_auth_attempts: ~
    security_lock_time:     ~
