security:

    encoders:
        eTraxis\Entity\User:
            id: etraxis.encoder

    providers:
        etraxis_provider:
            id: etraxis.provider

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            pattern:    ^/
            form_login: ~
            logout:     ~
            anonymous:  ~
            guard:
                authenticators:
                    - etraxis.authenticator.ldap
            remember_me:
                secret:   "%secret%"
                lifetime: 2592000
                path:     /
                domain:   ~

    access_control:
        - { path: ^/admin/,    roles: ROLE_ADMIN }
        - { path: ^/settings/, roles: ROLE_USER  }
