{% extends 'admin/base.html.twig' %}

{% block content %}

    <div class="container">
        <div class="columns">
            <div class="column full-width">
                <div class="tabs" id="tabs-user" data-tab="{{ tab }}">
                    <ul>
                        <li><a href="{{ path('admin_tab_user_details', {'id': user.id}) }}">{{ user.fullname }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
