{% extends 'base.html.twig' %}

{% block menu %}

    <a href="{{ path('admin_users') }}">{{ 'users'|trans }}</a>
    <a href="{{ path('admin_projects') }}">{{ 'projects'|trans }}</a>

{% endblock %}
