<div class="grid-100 grid-parent grid-row">
    <div class="fieldset {{ isPrivate ? 'private' : '' }}">
        <div class="legend">{{ 'button.preview'|trans }}</div>
        <div class="grid-100 grid-row value">
            {{ text|bbcode|nl2br }}
        </div>
    </div>
</div>
