<div class="tabs" id="tabs-template" data-tab="{{ tab }}">
    <ul>
        <li><a href="{{ path('admin_tab_template_details', {'id': template.id}) }}">{{ 'template'|trans }}</a></li>
    </ul>
</div>
