{% form_theme form 'form.html.twig' %}

<div class="dialog">
    {{ form_start(form) }}
    <fieldset>
        {% if form.value is defined %}
            {{ form_row(form.value) }}
        {% endif %}
        {{ form_row(form.text) }}
    </fieldset>
    {{ form_end(form) }}
</div>
